#passwordreset{
    font-size: 13px;
    color: red;
    text-align: end;
    font-family:  'Rambla', sans-serif;
}
#pwlink{
    color: red;
}
.form-control, .dropdown-item, .btn-primary, .headertext{
    font-family:  'Rambla', sans-serif;
}
h5{
    font-family:  'Rambla', sans-serif;
    font-size: 200%;
}
#regbutton{
    background-color: #D68E64;
    border-color: #D68E64;
}
.modal-content{
    border-width: 3px;
    border-block-start-color: #D68E64;
    border-block-end-color: #D68E64;
    border-left-color: #D68E64;
    border-right-color: #D68E64;
    border-radius: 40px;
}
.vl{
    border-left: 1px solid #d4d4d4;
    height: 466px;
    position: absolute;
    left: 50.4%;
    margin-left: -3px;
    top: 0;
}
.headertext{
    color: #D68E64;
    position: absolute;
    text-align: center;
}
#startbutton{
    position: absolute;
    top: 59%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background-color: unset;
    color: #D68E64;
    font-size: 40px;
    padding: 16px 30px;
    border-width: 5px;
    border-color: #D68E64;
    cursor: pointer;
    border-radius: 15px;
    text-align: center;
    font-family:  'Rambla', sans-serif;
}
#startbutton a{
    color: #D68E64;

}
#startbutton:hover{
    color: white;
    background-color: #D68E64;
    border-color: #D68E64;
}

#forteachers{
    color: #D68E64;
    position: absolute;
    right: 200px;
    top: 90px;
    font-size: 110%;
}
#aboutus{
    color: #D68E64;
    position: absolute;
    right: 500px;
    top: 90px;
    font-size: 110%;
}
#mainlogo{
    position: absolute;
    left: 200px;
    top: 60px;
}
#bottomlogo{
    position: absolute;
    left: 100px;
    top: 60px;
}
#homeheading{
    position: absolute;
    margin: auto;
    width: 1440px;
    text-align: center;
    font-family:  'Rambla', sans-serif;
    color: #D68E64;
    top: 270px;
}
#footerbackground{
    position: absolute;
    background-color: #AEA38D;
    height: 214px;
    width: 1440px
}
.footertext{
    color: white;
    font-family:  'Rambla', sans-serif;
    outline: none;
}
a.footertext{
    color: white;
}
h5.footertext{
    padding: 65px 0;
    text-align: center;
}
#contacts{
    text-align: right;
    position: relative;
    right: 100px;
    bottom: 150px;
    font-size: 120%;
}
#mentorofthemonth{
    background-color: #AEA38D;
    height: 600px;
    width: 1440px;
}
#workshops{
    background-color: white;
    height: 600px;
    width: 1440px;
}
.carouseltext{
    color: black;
    font-family:  'Rambla', sans-serif;
}
#additionaldiv{
    position: absolute;
    width: 100%;
    top: 1600px;
    text-align: center;
}
#additionaltext{
    font-family:  'Rambla', sans-serif;
    text-align: center;
    font-size: 300%;
}
#additionaltext Mentor of the month{
    color: white;
}
.dropbtn {
    color: #D68E64;
    border: none;
    cursor: pointer;
    font-family:  'Rambla', sans-serif;
    background-color: unset;
    font-size: 110%;   
}
.dropdown {
    position: absolute;
    right: 350px;
    top: 90px;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family:  'Rambla', sans-serif;
    border-radius: 15px;
}
#rounddd1{
    border-radius: 15px 15px 0px 0px;
}
#rounddd2{
    border-radius: 0px 0px 15px 15px;
}
.dropdown-content a {
    color: #D68E64;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropbtn:visited {
    text-decoration: none;
}
.dropbtn:hover {
    text-decoration: underline;
}
.checked {
    color: gold;
}
.mentormonthcontent{
    position: relative;
    margin: auto;
    text-align: center;
    top: 150px;
    size: 20%;
    font-size: 200%;
}
#mentormonthimg{
    position: relative;
    margin: auto;
    text-align: center;
    top: 100px;
    border: 50px;
    border-color: #D68E64;
}
#mentorlaurel{
    position: relative;
    margin: auto;
    text-align: center;
    top: 100px;
    max-width: 50%;
    height: 50px;
}