#passwordreset{
    font-size: 13px;
    color: red;
    text-align: end;
    font-family:  'Rambla', sans-serif;
}
#pwlink{
    color: red;
}
.form-control, .dropdown-item, .btn-primary, .headertext{
    font-family:  'Rambla', sans-serif;
}
h5, .locationtags p{
    font-family:  'Rambla', sans-serif;
    font-size: 200%;
}
#regbutton{
    background-color: #D68E64;
    border-color: #D68E64;
}
.modal-content{
    border-width: 3px;
    border-block-start-color: #D68E64;
    border-block-end-color: #D68E64;
    border-left-color: #D68E64;
    border-right-color: #D68E64;
    border-radius: 40px;
}
.vl{
    border-left: 1px solid #d4d4d4;
    height: 466px;
    position: absolute;
    left: 50.4%;
    margin-left: -3px;
    top: 0;
}
#header{
    position: relative;
    top: -16px;
}
.headertext{
    color: #D68E64;
    position: absolute;
    text-align: center;
}
#forteachers{
    color: #D68E64;
    position: absolute;
    right: 200px;
    top: 90px;
    font-size: 110%;
}
#aboutus{
    position: absolute;
    right: 500px;
    top: 90px;
    font-size: 110%;
}
#aboutus a{
    color: #D68E64;
}
#mainlogo{
    position: absolute;
    left: 200px;
    top: 60px;
}
#bottomlogo{
    position: absolute;
    left: 100px;
    top: 60px;
}
#homeheading{
    position: absolute;
    margin: auto;
    width: 1440px;
    text-align: center;
    font-family:  'Rambla', sans-serif;
    color: #D68E64;
    top: 270px;
}
.searchlocation{
    position: relative;
    top: 525px;
    width: 1100px;
    height: 300px;
    margin: auto;
    background-color: #AEA38D;
    border-radius: 25px;
}
#locationlist{
    position: absolute;
    top: 25px;
    left: 25px;
    width: 333px;
    height: 250px;
    background-color: white;
    border-radius: 25px 5px 5px 25px;
    overflow: scroll;
    font-family: 'Rambla', sans-serif;
}
.locationtags{
    position: absolute;
    top: 25px;
    right: 25px;
    width: 692px;
    height: 250px;
    background-color: white;
    border-radius: 5px 25px 25px 5px;
}
.locationtags p{
    position: relative;
    text-align: center;
    font-size: 200%;
    top: 75px;
}
.searchprofession{
    position: relative;
    top: -100px;
    width: 1100px;
    height: 300px;
    margin: auto;
    background-color: #AEA38D;
    border-radius: 25px;
}
#professionlist{
    position: absolute;
    top: 25px;
    left: 25px;
    width: 1050px;
    height: 250px;
    background-color: white;
    border-radius: 25px;
    overflow: scroll;
    font-family: 'Rambla', sans-serif;
    text-align: center;
}
.searchdetails{
    position: relative;
    top: 250px;
    width: 1100px;
    height: 350px;
    margin: auto;
    background-color: #AEA38D;
    border-radius: 25px;
}
#agelist{
    position: absolute;
    top: 25px;
    left: 25px;
    width: 333px;
    height: 250px;
    background-color: white;
    border-radius: 25px 5px 5px 25px;
    overflow: scroll;
    font-family: 'Rambla', sans-serif;
    text-align: center;
}
#levellist{
    position: absolute;
    top: 25px;
    left: 383px;
    width: 333px;
    height: 250px;
    background-color: white;
    border-radius: 5px;
    overflow: scroll;
    font-family: 'Rambla', sans-serif;
    text-align: center;
}
#languagelist{
    position: absolute;
    top: 25px;
    right: 25px;
    width: 333px;
    height: 250px;
    background-color: white;
    border-radius: 5px 25px 25px 5px;
    overflow: scroll;
    font-family: 'Rambla', sans-serif;
    text-align: center;
}
#searchresulthint{
    position: relative;
    font-family: 'Rambla', sans-serif;
    text-align: center;
    color: white;
    top: 290px;
    font-size: 200%;
}
.results{
    position: relative;
    top: 275px;
    width: 1100px;
    height: 700px;
    margin: auto;
    background-color: #AEA38D;
    border-radius: 25px;
}
#footerbackground{
    position: absolute;
    background-color: #AEA38D;
    height: 214px;
    width: 1440px;
    top: 2000px;
}
.footertext{
    color: white;
    font-family:  'Rambla', sans-serif;
    outline: none;
}
a.footertext{
    color: white;
}
h5.footertext{
    padding: 65px 0;
    text-align: center;
}
#contacts{
    text-align: right;
    position: relative;
    right: 100px;
    bottom: 150px;
    font-size: 120%;
}
#additionaldiv{
    position: absolute;
    width: 100%;
    top: 1600px;
    text-align: center;
}
.dropbtn {
    color: #D68E64;
    border: none;
    cursor: pointer;
    font-family:  'Rambla', sans-serif;
    background-color: unset;
    font-size: 110%;   
}
.dropdown {
    position: absolute;
    right: 350px;
    top: 90px;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family:  'Rambla', sans-serif;
    border-radius: 15px;
    background-color: white;
}
#rounddd1{
    border-radius: 15px 15px 0px 0px;
}
#rounddd2{
    border-radius: 0px 0px 15px 15px;
}
.dropdown-content a {
    color: #D68E64;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropbtn:visited {
    text-decoration: none;
}
.dropbtn:hover {
    text-decoration: underline;
}