#passwordreset{
    font-size: 13px;
    color: red;
    text-align: end;
    font-family:  'Rambla', sans-serif;
}
#pwlink{
    color: red;
}
.form-control, .dropdown-item, .btn-primary, .headertext{
    font-family:  'Rambla', sans-serif;
}
h5{
    font-family:  'Rambla', sans-serif;
    font-size: 200%;
}
#regbutton{
    background-color: #D68E64;
    border-color: #D68E64;
}
.modal-content{
    border-width: 3px;
    border-block-start-color: #D68E64;
    border-block-end-color: #D68E64;
    border-left-color: #D68E64;
    border-right-color: #D68E64;
    border-radius: 40px;
}
.vl{
    border-left: 1px solid #d4d4d4;
    height: 466px;
    position: absolute;
    left: 50.4%;
    margin-left: -3px;
    top: 0;
}
#header{
    position: relative;
    top: -16px;
}
.headertext{
    color: #D68E64;
    position: absolute;
    text-align: center;
}
#forteachers{
    color: #D68E64;
    position: absolute;
    right: 200px;
    top: 90px;
    font-size: 110%;
}
#aboutus{
    position: absolute;
    right: 500px;
    top: 90px;
    font-size: 110%;
}
#aboutus a{
    color: #D68E64;
}
#mainlogo{
    position: absolute;
    left: 200px;
    top: 60px;
}
#bottomlogo{
    position: absolute;
    left: 100px;
    top: 60px;
}
#homeheading{
    position: absolute;
    margin: auto;
    width: 1440px;
    text-align: center;
    font-family:  'Rambla', sans-serif;
    color: #D68E64;
    top: 270px;
}
#aboutusbackgroundpic{
    position: relative;
    width: 100%;
    height: auto;
    top: 200px;
}
#aboutusheading{
    font-family: 'Rambla', sans-serif;
    position: absolute;
    top: 290px;
    z-index: 1;
    color: white;
    font-size: 550%;
    left: 200px;
}
#aboutustext{
    font-family: 'Rambla', sans-serif;
    position: absolute;
    top: 500px;
    width: 100%;
    color: #D68E64;
    text-align: center;
    font-size: 118%;
}
#aboutustext2{
    font-family: 'Rambla', sans-serif;
    position: relative;
    top: 500px;
    width: 100%;
    color: #D68E64;
    text-align: center;
    font-size: 118%;
}
#aboutustext2 p{
    width: 50%;
    float: right;
}
#footerbackground{
    position: absolute;
    background-color: #AEA38D;
    height: 214px;
    width: 1440px;
    top: 900px;
}
.footertext{
    color: white;
    font-family:  'Rambla', sans-serif;
    outline: none;
}
a.footertext{
    color: white;
}
h5.footertext{
    padding: 65px 0;
    text-align: center;
}
#contacts{
    text-align: right;
    position: relative;
    right: 100px;
    bottom: 150px;
    font-size: 120%;
}
#additionaldiv{
    position: absolute;
    width: 100%;
    top: 1600px;
    text-align: center;
}
.dropbtn {
    color: #D68E64;
    border: none;
    cursor: pointer;
    font-family:  'Rambla', sans-serif;
    background-color: unset;
    font-size: 110%;   
}
.dropdown {
    position: absolute;
    right: 350px;
    top: 90px;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family:  'Rambla', sans-serif;
    border-radius: 15px;
    background-color: white;
}
#rounddd1{
    border-radius: 15px 15px 0px 0px;
}
#rounddd2{
    border-radius: 0px 0px 15px 15px;
}
.dropdown-content a {
    color: #D68E64;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropbtn:visited {
    text-decoration: none;
}
.dropbtn:hover {
    text-decoration: underline;
}