#header{
    height: 200px;
    border: 1px solid black;
}
#mainlogo{
    top: 90px;
    position: relative;
    left: 200px;
}
.menutext{
    margin-top:90px;
    color: #D68E64;
    border: none;
    cursor: pointer;
    font-family:  'Rambla', sans-serif;
    background-color: unset;
    font-size: 110%;
}
a.menutext{
    color: #D68E64;
}
.menucont{
    margin-top:90px;
}
.dropbtn {
    color: #D68E64;
    border: none;
    cursor: pointer;
    font-family:  'Rambla', sans-serif;
    background-color: unset;
    font-size: 110%;   
}
.dropdown {
    margin-top:90px;
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family:  'Rambla', sans-serif;
    border-radius: 15px;
    background-color: white;
}
#rounddd1{
    border-radius: 15px 15px 0px 0px;
}
#rounddd2{
    border-radius: 0px 0px 15px 15px;
}
.dropdown-content a {
    color: #D68E64;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropbtn:visited {
    text-decoration: none;
}
.dropbtn:hover {
    text-decoration: underline;
}
#profilepiano{
    position: absolute;
    width: 100%;
}
.profilebackground{
    height: 380px;
    border: 1px solid black;
}
.profiledata{
    height: 470px;
    border: 1px solid black;
}
.profilepicture{
    border-style: solid;
    border-width: 10px;
    border-radius: 50%;
    border-color: #EEEEEE;
    z-index: 1;
    width: 240px;
}
#quote{
    font-weight: bold;
    display: block;
    font-size: 2em;
    font-style: italic;
    font-family: 'Rambla', sans-serif;
    color: #D68E64;
    margin-top: 110px;
}
.maininfo{
    font-weight: bold;
    display: block;
    font-size: 1.5em;
    font-family: 'Rambla', sans-serif;
    color: #D68E64;
    margin-left: 100px;
}
.addinfo{
    font-weight: bold;
    font-size: 1.5em;
    font-family: 'Rambla', sans-serif;
    color: #D68E64;
    margin-top:200px;
}
.descriptioninfo{
    background-color: #AEA38D;
    width: 100%;
    height: 400px;
    width: 100%;
}
#profilebio{
    text-align: justify;
    font-family: 'Rambla', sans-serif;
    color: white;
    margin: 65px 160px;
}
#biodescription{
    font-style: italic;
    letter-spacing: 0.5px;
    line-height: 25px;
    font-size: 21px;
}
#profiledetails{
    margin: 65px 160px;
    font-family: 'Rambla', sans-serif;
    color: white;
    display: block;
    font-size: 1.5em;
}
.portfolio{
    height: 500px;
    width: 100%;
    font-family: 'Rambla', sans-serif;
    color: #D68E64;
}
#myportfolio{
    margin-top: 30px;
    margin-left: 160px;
    position: absolute;
}
#video{
    width: 545px;
    height: 296px;
    margin-top:100px;
    display:table-cell;
    margin-left:160px;
}
.reviews{ 
    height:350px;
    border: 1px solid black;
    background-color: #AEA38D;
}
#reviewbutton{
    background-color: white;
    color: #AEA38D;
    border:6px solid rgb(214, 214, 214);
    border-style: solid;
    font-family: 'Rambla', sans-serif;
    padding: 10px 80px;
    margin: 150px 30px;
    border-radius: 40px;
}
#reviewbutton:hover{
    background-color: #D68E64;
    border-color: rgb(214, 133, 87);
    color: #EEEEEE;
}
#comment{
    width: 300px;
    border-color: rgb(214, 214, 214);
}
.feedback{
    height:900px;
}
#contactformhead{
    margin-left: 100px;
    margin-top:90px;
    color: #D68E64;
    font-family: 'Rambla', sans-serif;
}
#contactform{
    font-family: 'Rambla', sans-serif;
    
}
#contactname{
    color: white;
    font-family: 'Rambla', sans-serif;
    background-color: #AEA38D;
    border: none;
    padding: 5px;
    width: 525px;
    height: 50px;
    position: absolute;
    margin-left: 100px;
    margin-top: 120px;
}
#contactmail{
    color: white;
    font-family: 'Rambla', sans-serif;
    background-color: #AEA38D;
    border: none;
    padding: 5px;
    width: 525px;
    height: 50px;
    position: absolute;
    margin-left: 100px;
    margin-top: 140px;
}
#contactletter{
    width: 525px;
    height: 110px;
    color: white;
    font-family: 'Rambla', sans-serif;
    background-color: #AEA38D;
    border: none;
    margin-left: 700px;
    margin-top: 70px;
    position: absolute;
}
#contactsubmit{
    width: 100px;
    height: 50px;
    color: white;
    font-family: 'Rambla', sans-serif;
    background-color: #D68E64;
    border: none;
    border-radius: 50px;
    margin-left: 580px;
    margin-top: 200px;
    position: absolute;
}
